{% extends "base_layout.html" %}
{% load static %}
{% block title %}{{ article.title }}{% endblock title %}
{% block content %}
    <div class="article-confirm-delete">
        <h1 class="mb-3">Are you sure?</h1>
        <form class="form" method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-danget">Yes</button>
            <a href="{% url 'homepage' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock content %}